<section id="social-wall">
  <div class="content-wrapper">
    <div class="social-wall_card" *ngFor="let article of articles">
      <a [href]="article.url | safe: 'url'" target="_blanck">
        <div class="preview-image_wrapper">
          <div class="preview_image"  [ngStyle]="{'backgroundImage':'url(' + article.nom_img + ')'}"></div>
        </div>
        <div class="title_container">
            <div class="source-article_icon">
                <img *ngIf="article.source == 'Facebook'" src="../../../assets/icons/facebook.svg" alt="Icône Facebook">
                <img *ngIf="article.source == 'Twitter'" src="../../../assets/icons/twitter.svg" alt="Icône Twitter">
                <img *ngIf="article.source == 'Instagram'" src="../../../assets/icons/instagram.svg" alt="Icône instagram">
                <img *ngIf="article.source == 'Youtube'" src="../../../assets/icons/youtube.svg" alt="Icône Youtube">
                <img *ngIf="article.source != 'Youtube' && article.source != 'Instagram' && article.source != 'Twitter' && article.source != 'Facebook'" src="../../../assets/icons/web.svg" alt="Icône Web">
            </div>
          <h5>{{ article.titre }}</h5>
        </div>
      </a>
      <div class="card_footer">
        <div class="date">{{ article.date }}</div>

        <div class="share-buttons_container">
          <div class="social-buttons_container" [@showShare] *ngIf="hideme[article.id]" >
            <button class="social-media_button facebook" [url]="article.url" shareButton="facebook">
              <img
                src="../../../assets/icons/facebook.svg"
                alt="Icône Facebook"
              />
            </button>
            <button class="social-media_button copy" ngxClipboard [cbContent]="article.url">
              <img
                src="../../../assets/icons/copylink.svg"
                alt="Icône lien"
              />
            </button>
          </div>
          <button (click)="show(article.id)" class="share_button">
            <img src="../../../assets/icons/share.svg" alt="Icône de partage" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
