<section id="social-wall">
  <div class="content-wrapper">
    <div class="social-wall_card">
      <a href="">
        <div class="preview_image"></div>
        <div class="title_container">
          <h4>Card Title</h4>
        </div>
      </a>
      <div class="card_footer">
        <div class="date">Le premier janvier 1970</div>
        <button class="share_button">
          <img src="../../../assets/icons/Share.svg" alt="Icône de partage" />
        </button>
      </div>
    </div>
  </div>
</section>
