@import "../../sharedStyles/colors.scss";


#social-wall {
  background-color: $DefaultBlack;
  padding: 80px 0;
  margin-top: 70px;
  animation: fadeup 0.5s ease;

  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    flex-wrap: wrap;

    .social-wall_card {
      width: 325px;
      height: auto;
      min-height: 300px;
      margin: 15px 10px;
      border-radius: 10px;
      background-color: $White;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15),
        0px 4px 4px rgba(0, 0, 0, 0.15), 0px 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: 0.3s ease all;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07),
          0px 4px 4px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07),
          0px 16px 16px rgba(0, 0, 0, 0.07), 0px 36px 36px rgba(0, 0, 0, 0.07),
          0px 64px 64px rgba(0, 0, 0, 0.07);
      }

      // &:hover .preview_image,
      // &:focus .preview_image {
      //     transform: scale(1.05);
      // }

      .preview-image_wrapper {
        width: 325px;
        height: 220px;
        background-color: black;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;

        .preview_image {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          transition: all 0.3s;
        }
      }

      .title_container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid $GreyLight;
        position: relative;
        

        .source-article_icon {
          width: 60px;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $White;
          z-index: 2;
          position: absolute;
          bottom: 88px;
          border-radius: 100%;
          border: none;
          outline: none;

          img {
            display: block;
            width: 24px;
            height: 24px;
          }
        }

        h5 {
          color: $DefaultBlack;
          text-decoration: none !important;
          border: none !important;
          text-align: center;
          margin: 0 20px;
        }
      }

      .card_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 20px 30px;

        .date {
          line-height: 25px;
          color: #6f4be0;
        }

        .share-buttons_container {
          position: relative;
          .social-buttons_container {
            position: absolute;
            top: -70px;
            left: -60px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 160px;

            .social-media_button {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              outline: none;
              width: 45px;
              height: 45px;
              border-radius: 100%;

              img {
                filter: brightness(0) saturate(0%) invert(100%);
              }
            }

            .social-media_button.facebook {
              background-color: #3b5998;
            }

            .social-media_button.twitter {
              background-color: #1da1f2;
            }
          }
          .share_button {
            background: white;
            border: none;
            outline: none;

            &:hover {
              img {
                transition: 0.3s ease;
                filter: invert(49%) sepia(34%) saturate(6228%)
                  hue-rotate(324deg) brightness(109%) contrast(101%);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    padding: 80px 25px !important;
  }

  @media screen and (max-width: 1400px) {
    padding: 80px 50px;

    .content-wrapper {
      justify-content: space-around;
    }
  }

  @media screen and (min-width:960px) and (max-width: 1308px)  {
    .content-wrapper {
      padding: 0 20px;
    }
  }

}
