<section id="value">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-12">
        <div
          class="d-flex flex-xl-row flex-lg-row flex-column justify-content-between flex-wrap"
        >
          <div
            class="value-card wow fadeInUp"
            data-wow-offset="280"
            data-wow-duration="1s"
          >
            <img
              src="../../../assets/picto/Institution.svg"
              alt="Icône Institution"
              class="mb-5 mx-auto"
            />
            <h4 class="mb-5 mx-auto">Des institutions délaissées</h4>
            <p class="mb-5 mx-auto">
              Malgré une augmentation de 7% de la fréquentation des musées en
              2018, les internautes passent
              <strong>3 fois plus de temps en ligne</strong> que dans les
              musées.
            </p>
            <img
              class="mb-5"
              src="../../../assets/others/decoration-bottom.svg"
              alt="Petite vague décorative"
            />
          </div>

          <div
            class="value-card wow fadeInUp"
            data-wow-offset="280"
            data-wow-duration="1s"
            data-wow-delay="0.3s"
          >
            <img
              src="../../../assets/picto/Digital.svg"
              alt="Icône Institution"
              class="mb-5 mx-auto"
            />
            <h4 class="mb-5 mx-auto">Une présence digitale</h4>
            <p class="mb-5 mx-auto">
              À l’heure de la révolution numérique, les
              <strong>nouvelles technologies</strong> ont radicalement changé
              notre façon de <strong>consommer</strong> l’art, mais aussi de la
              créer, voir a la recréer.
            </p>
            <img
              class="mb-5"
              src="../../../assets/others/decoration-bottom.svg"
              alt="Petite vague décorative"
            />
          </div>

          <div
            class="value-card wow fadeInUp"
            data-wow-offset="280"
            data-wow-duration="1s"
            data-wow-delay="0.6s"
          >
            <img
              src="../../../assets/picto/Emotions.svg"
              alt="Icône Institution"
              class="mb-5 mx-auto"
            />
            <h4 class="mb-5 mx-auto">Des émotions positives</h4>
            <p class="mb-5 mx-auto">
              Notre <strong>vision</strong> : faire renaître les émotions
              provoquées par l’art en proposant une sélection mettant en avant
              l’idée d’une <strong>nouvelle manière de consommer l’art.</strong>
            </p>
            <img
              class="mb-5"
              src="../../../assets/others/decoration-bottom.svg"
              alt="Petite vague décorative"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
