<section id="value">
    <div class="container overflow-hidden">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="d-flex flex-xl-row flex-lg-column flex-column justify-content-center">
                    <div class="value-card" *ngFor="let value of values">
                        <img [src]="value.icon" alt="Icône {{value.icon}}" class="mb-5 mx-auto">
                        <h4 class="mb-5 mx-auto">{{value.title}}</h4>
                        <p [innerHTML]="value.text" class="mb-5 mx-auto"></p>
                        <img class="mb-5" src="../../../assets/others/decoration-bottom.svg" alt="Vagounette">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
          