<header class="overflow-hidden">
  <div class="top-gradient"></div>
  <div class="container header-wrapper">
    <div class="content-wrapper">
      <h1 class="main-title">Hommage</h1>
      <div class="sub-title">Le lien digital</div>
      <div class="separator"></div>
      <a href="#quiz">
        <button class="button_primary">
          <div class="height-fix">
            Admirez notre hommage
            <img
              src="../../assets/icons/arrow-down-t.svg"
              alt="Icône fleche du bas"
            />
          </div>
        </button>
      </a>
    </div>
  </div>
</header>
