@import "../sharedStyles/colors.scss";

header {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/header_background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .top-gradient {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        flex-grow: 1;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.078125) 99.99%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

    }
    
    .header-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            color: white;
            flex-grow: 2;
            margin-bottom: 200px;
            // margin-left: 90px;

            .main-title {
                margin-bottom: 16px;
            }

            .sub-title {
                font-size: 36px;
            }

            
        }

        
    }
}