@import "../sharedStyles/colors.scss";

footer {
    background: $Secondary2;
    padding: 10%;
    .container {
        max-width: 1550px;
    }
    
    h3 {
        color: $White;
        font-family: rimouski;
    }
    p {
        color: $White;
    }
    .line-white {
        border-left: 2px solid $White;
      height: 250px;
    
    }
    
}


