<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-xl-4 footer-card">
                <h3 class="mb-4 text-center">Nous contacter</h3>
                <div class="d-flex flex-row bd-highlight mb-3 ml-3 justify-content-center">
                    <div class="p-2 bd-highlight line-white"></div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <p> agence.studiose@gmail.com</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>07 81 93 14 33</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>19 rue Voltaire, 75011, PARIS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 footer-card">
                <h3 class="mb-4 text-center">Mentions légales</h3>
                <div class="d-flex flex-row bd-highlight mb-3 ml-3 justify-content-center">
                    <div class="p-2 bd-highlight line-white"></div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2  bd-highlight">
                                <p>Relations Presse</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>Cookies</p>
                            </div>
                            <div class="p-2  bd-highlight">
                                <p>Politiques de confidentialité</p>
                            </div>
                            <div class="p-2  bd-highlight">
                                <p>Plan du site</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 footer-card">
                <h3 class="mb-4 text-center">Suivez-nous !</h3>
                <div class="d-flex flex-row bd-highlight mb-3 ml-3 justify-content-center">
                    <div class="p-2 bd-highlight line-white"></div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <p>Facebook</p>
                            </div>
                            <div class="p-2  bd-highlight">
                                <p>Twitter</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>Instagram</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>Snapchat</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>TikTok</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>