<div id="content"></div>

<footer>
  <div class="container">
    <div
      class="d-flex flex-lg-row justify-content-between flex-md-column flex-column flex-wrap"
    >
      <div class="p-2 cards-footer">
        <h3 class="mb-4">Nous contacter</h3>
        <div class="d-flex flex-row bd-highlight mb-3  detail-card">
          <div class="p-2 bd-highlight line-white"></div>
          <div class="p-2 bd-highlight">
            <div class="d-flex flex-column bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <p>
                  <img
                    src="../../assets/icons/mail.svg"
                    alt="Icône mail"
                  />agence.studiose@gmail.com
                </p>
              </div>
              <div class="p-2 bd-highlight">
                <p>
                  <img
                    src="../../assets/icons/phone.svg"
                    alt="Icône téléphone"
                  />07 81 93 14 33
                </p>
              </div>
              <div class="p-2 bd-highlight">
                <p>
                  <img
                    src="../../assets/icons/adress.svg"
                    alt="Icône adresse"
                  />19 rue Voltaire, 75011, PARIS
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2 cards-footer">
        <h3 class="mb-4">Mentions légales</h3>
        <div class="d-flex flex-row bd-highlight mb-3  detail-card">
          <div class="p-2 bd-highlight line-white"></div>
          <div class="p-2 bd-highlight">
            <div class="d-flex flex-column bd-highlight mb-3">
              <div class="p-2  bd-highlight">
                <a href="">
                  <p>Relations Presse</p>
                </a>
              </div>
              <div class="p-2 bd-highlight">
                <a href="">
                  <p>Cookies</p>
                </a>
              </div>
              <div class="p-2  bd-highlight">
                <button
                  type="button"
                  class=""
                  data-toggle="modal"
                  data-target="#mentionsModal"
                >
                  Mentions légales
                </button>
              </div>
              <div class="p-2  bd-highlight">
                <a href="">
                  <p>Plan du site</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2 cards-footer">
        <h3 class="mb-4">Suivez-nous !</h3>
        <div class="d-flex flex-row bd-highlight mb-3 detail-card">
          <div class="p-2 bd-highlight line-white"></div>
          <div class="p-2 bd-highlight">
            <div class="d-flex flex-column bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <a href="https://www.facebook.com/EuphoriartFR/">
                  <p>
                    <img
                      src="../../assets/icons/facebook.svg"
                      alt="Icône Facebook"
                    />Facebook
                  </p>
                </a>
              </div>
              <div class="p-2  bd-highlight">
                <a href="https://twitter.com/EuphoriartFR">
                  <p>
                    <img
                      src="../../assets/icons/twitter.svg"
                      alt="Icône Twitter"
                    />Twitter
                  </p>
                </a>
              </div>
              <div class="p-2 bd-highlight">
                <a href="https://www.instagram.com/euphoriart_france/">
                  <p>
                    <img
                      src="../../assets/icons/instagram.svg"
                      alt="Îcone Instagram"
                    />Instagram
                  </p>
                </a>
              </div>
              <div class="p-2 bd-highlight">
                <a href="https://www.snapchat.com/add/EuphoriartFR">
                  <p>
                    <img
                      src="../../assets/icons/snapchat.svg"
                      alt="Icône Snapchat"
                    />Snapchat
                  </p>
                </a>
              </div>
              <div class="p-2 bd-highlight">
                <a href=" https://vm.tiktok.com/xdWQuD/">
                  <p>
                    <img
                      src="../../assets/icons/tiktok.svg"
                      alt="Icône TikTok"
                    />TikTok
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- ZONE MODALES -->
<!-- Modal -->
<div
  class="modal fade modal-mentions"
  id="mentionsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mentionsModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="mentionsModalTitle">
          Mentions légales
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Le site accessible à l’adresse
          <a href="http://www.hommage.euphoriart.fr/"
            >http://www.hommage.euphoriart.fr/</a
          >
        </p>

        <h4>Editeur</h4>
        <p>
          Le site est la propriété de <strong>Euphoriart</strong>, association à
          but non-lucratif dont le siège social se situe à l’IESA Multimédia -
          19 rue Voltaire - 75011 Paris. <br />
          Tél. : 06 14 12 71 20 <br />
          E-mail : agence.studiose@gmail.com
        </p>

        <h4>Directeur de la publication</h4>
        <p>
          Anthony Rodriguez - Community Manager
        </p>

        <h4>Hébergement</h4>
        <p>
          OVH SAS au capital de 10 059 500 € immatriculée au RCS Lille Métropole
          sous le numéro 424 761 419 00045 Code APE 6202A – N° TVA : FR 22 424
          761 419 Siège social : 2 rue Kellermann – 59100 Roubaix – France
        </p>

        <h4>Développements</h4>
        <p>
          Euphoriart - Équipe de développement web IESA Multimédia - 19 rue
          Voltaire - 75011 Paris.
        </p>

        <h4>Conditions générales d’utilisation</h4>
        <p>
          Le site est une œuvre de l’esprit protégée par les droits de propriété
          intellectuelle. Toute reproduction ou représentation, en tout ou
          partie, à d’autres fins sur un quelconque support est interdite sans
          l’autorisation expresse et préalable de Euphoriart et constituerait
          une contrefaçon au sens qui lui est donné par le droit applicable. Le
          non-respect de cette interdiction constitue une contrefaçon pouvant
          engager la responsabilité civile et pénale du contrefacteur. Le site
          et chacun des éléments qui le composent tels que, notamment marques,
          textes, illustrations, logos, dénominations sociales, produits,
          photographies sont la propriété exclusive de Euphoriart. Toute
          représentation et/ou reproduction et/ou exploitation partielle ou
          totale de ces marques par un tiers est donc prohibée. Elle n’engagera
          par ailleurs d’aucune manière la responsabilité de Euphoriart Les
          informations contenues dans ce site sont non contractuelles et
          sujettes à modification sans préavis. Les liens hypertextes mis en
          œuvre au sein du site en direction d’autres sites et d’une manière
          générale vers toutes ressources existantes sur internet ne sauraient
          engager la responsabilité de Euphoriart L’utilisation du site
          s’effectue exclusivement sous la responsabilité de l’utilisateur.
          Aucune garantie d’aucune sorte, explicite ou implicite, n’est
          consentie par Euphoriart
        </p>

        <h4>Législation française</h4>
        <p>
          Les présentes mentions légales et les conditions d’utilisation du site
          sont soumises au droit français.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button_secondary2" data-dismiss="modal">
          J'ai compris !
        </button>
      </div>
    </div>
  </div>
</div>
