<section id="discover">
    <div class="container overflow-hidden">
        <div class="row text-center mb-3">
            <div class="col-md-12">
                    <h2>Fais découvrir Hommage à tes amis !</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <img src="https://placehold.it/50x50" alt="">
            <img src="https://placehold.it/50x50" alt="">
            <img src="https://placehold.it/50x50" alt="">
        </div>
    </div>
</section>
