<section id="discover">
    <div class="container overflow-hidden">
        <div class="row text-center mb-3">
            <div class="col-md-12">
                <h2>Fais découvrir Hommage à tes amis !</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <span class="dot" shareButton="facebook" data-href="https://www.hommage.euphoriart.fr"><img src="../../../assets/icons/Logo FB.svg" alt=""></span>
            <span class="dot" shareButton="twitter" data-href="https://www.hommage.euphoriart.fr"><img src="../../../assets/icons/Logo Twitter.svg" alt=""></span>
            <span class="dot" shareButton="insta" data-href="https://www.hommage.euphoriart.fr"><img src="../../../assets/icons/Logo Insta.svg" alt=""></span>
        </div>
    </div>
</section>