<section id="partage">
    <div class="container overflow-hidden">
        <div class="row text-center mb-3">
            <div class="col-md-12">
                <h2>Fais découvrir Hommage à tes amis !</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-between mt-5 share-buttons_container">
            <button class="social-media_button" url="https://hommage.euphoriart.fr" shareButton="facebook">
                <img
                  src="../../../assets/icons/facebook.svg"
                  alt="Icône Facebook"
                />
              </button>
              <button class="social-media_button" tags="Hommage #LeLienDigital" url="https://hommage.euphoriart.fr" shareButton="twitter">
                <img
                  src="../../../assets/icons/twitter.svg"
                  alt="Icône Twitter"
                />
              </button>
              <button data-placement="top" class="social-media_button copy" url="https://hommage.euphoriart.fr" shareButton="copy">
                <img
                  src="../../../assets/icons/copylink.svg"
                  alt="Icône lien"
                />
              </button>
        </div>
    </div>
</section>