@import "../../sharedStyles/colors.scss";
#discover {
  margin-bottom: 150px;
  h2 {
    color: $Primary;
  }

  .share-buttons_container {
    max-width: 450px !important;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
        max-width: 100% !important;
        padding: 0 20px;
    }
    button {
      width: 55px;
      height: 55px;
      background-color: $Primary;
      border: none;
      outline: none;
      border-radius: 100%;

      &:hover {
        background-color: $PrimaryDark;
      }

      &:active {
        background-color: $PrimaryDarker;
      }

      img {
        filter: brightness(0) saturate(0%) invert(100%);
      }
    }
  }
}
