@import "../sharedStyles/colors.scss";

nav {
    position: fixed;
    top: 0;
    height: 50px;
    margin: 0 auto;
    width: 100%;

    .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 75px;

        img {
            display: block;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 400px;

            li {
                display: block;
                color: $White;
                height: 20px;
            }

        }
    }
}