<nav id="nav" class="fixed-top">
  <div class="container">
    <div class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img id="logo" alt="Logo Hommage" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img id="hamburger" src="../../assets/icons/hamburger.svg" class="img-fluid" alt="" />
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-2">
            <a class="nav-link" href="#offer">Redécouvrir l’art</a>
          </li>
          <li class="nav-item pt-2">
            <a class="nav-link" href="#about-us">Notre association</a>
          </li>
          <li class="nav-item">
            <a href="#discover" class="btn button_secondary1">
              Nous suivre
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>