/* Colors */
$PrimaryLight: #ffa9b5;
$Primary:#ff526b;
$PrimaryDark: #e0445b;
$PrimaryDarker: #be364a;

$Secondary1Light: #b2ffee;
$Secondary1: #1ef4c4;
$Secondary1Dark: #1cd9ae;
$Secondary1Darker: #2ab495;


$Secondary2Light: #b7a5f0;
$Secondary2: #6f4be0;
$Secondary2Dark: #5c3ebb;
$Secondary2Darker: #463480;

$ValidateColor: #1aaa4b;
$ErrorColor: #cf1631;
$Incorrect: #ecd147;

$White: #ffffff;
$GreyLight: #d1d1d1;
$GreyDark: #5a5a5a;
$Grey: #a5a5a5;
$DefaultBlack: #3d3d3d;
