<section id="a-propos">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-1 order-lg-2  about-us-text">
                <h2 class="mb-4">Qui sommes-nous ?</h2>
                <p class="mb-4">Euphoriart est une association étudiante qui souhaite valoriser l’offre culturelle
                    auprès des jeunes, leur montrer qu’il peut provoquer des émotions et qu’il peut se consommer de
                    différentes manières, notamment grâce au numérique.
                </p>
                <button type="button" class="button_primary">Découvrir Euphoriart</button>
            </div>
            <div class="col-xl-5 order-lg-1  mb-3 bloc-img wow fadeInLeft">
                    <div id="content"></div>
                    <img src="https://placehold.it/605x322" class="img-fluid rounded" alt="Responsive image">
                </div>
        </div>
    </div>
</section>

