<section id="offer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 pl-0">
                    <h2>Une offre culturelle décalée.</h2>
                    <div class="separator"></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero voluptatibus adipisci illo enim obcaecati magni? Excepturi tempore, sint laudantium, numquam dolor illum maiores quam beatae dolorem neque, ut eius fugiat?</p>
            </div>
            <div class="col-md-5 offset-md-1 pl-0 d-none d-sm-block">
                    <img class="img-fluid" src="../../../assets/others/decoration-aside.svg" alt="Image de décoration">
            </div>
        </div>
    </div>
</section>
