<section id="offer">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-1 pl-0">
                    <h2>Une offre culturelle décalée.</h2>
                    <div class="separator"></div>
                    <p>L'offre culturelle n'est pas adaptée pour les jeunes. Ces derniers sont découragés par le manque de temps et par une offre trop classique. Nous voulons les émerveiller en proposant une sélection personnalisée d’œuvres d'art grâce aux moyens digitaux.</p>
            </div>
            <div data-wow-duration="0.5s"  class=" wow fadeInRight col-xl-5 offset-xl-1 pl-0 d-none d-sm-block">
                    <img class="img-fluid wow fadeInRight" src="../../../assets/others/decoration-aside.svg" alt="Image de décoration">
            </div>
        </div>
    </div>
</section>
