<section id="quiz">
  <div class="container overflow-hidden">
    <div class="header-container">
      <div class="quiz-violet-bloc">
        <h2 class="">Définissons ta sélection</h2>
        <p class="">Et si nous participions à un petit jeu ?</p>
        <p>
          Voici ci-dessous une série de questions portant sur tes goûts
          artistiques. Une fois terminé, nous te proposerons un ensemble
          d'articles sélectionnés par nos soins !
        </p>
      </div>
      <div class="quiz-blue-bloc"></div>
    </div>
    <div class="quiz-container" *ngIf="show" [@enterAnimation]>
      <div>
        <div class="col-xl-12 text-center mx-auto quiz-question mb-2">
          <h4>{{ currentQuestionSet?.question }}</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="input-container">
          <div *ngFor="let o of currentQuestionSet.option; let i = index">
            <input name="{{ currentQuestionSet.id }}" (click)="setAnswser(o.tag)" type="button" [ngClass]="{
                selected: o.tag == currentAnswer,
                'btn input-answer': true,
                v0: i == 0,
                v1: i == 1,
                v2: i == 2,
                v3: i == 3
              }" value="{{ o.name }}" />
          </div>
        </div>
      </div>
      <div class="container_quiz mt-5">
      <div class="quiz-button_container">
        <button class="button_secondary2"
          [ngClass]="{ clickable: isAnswerSelected, next_button: true, 'button-disabled' : currentIndex == 0 }"
          [disabled]="this.nbAnswers == 0 || this.nbAnswers == 0"
          (click)="prev()">
          Question précédente
        </button>
        <button class="button_secondary2"
          [ngClass]="{ clickable: isAnswerSelected, next_button: true, 'button-disabled' : !isAnswerSelected || currentIndex == 3  }"
          [disabled]="!isAnswerSelected || currentIndex == 3" 
          (click)="next()">
          Question suivante
        </button>
      </div>
      <div class="row mt-3 mx-auto justify-content-center mt-4">
        <button [disabled]="showButton" [ngClass]="{'button-disabled' :  currentIndex != 3 || !isAnswerSelected}" type="button"
          class="button_primary button_valider" (click)="submit()" (click)="show = !show">
          Admire ta sélection !
        </button>
      </div>
    </div>
    </div>
    <h3 [@enterAnimation] *ngIf="!show" class="your-selection_title">Voici notre sélection !</h3>
  </div>
</section>
<div class="social-wrapper" *ngIf="!show" [@socialWall]>
  <app-social-wall [articles]="articles"></app-social-wall>
</div>
<div *ngIf="!show" [@socialWall] class="restart_container">
  <p>Recommencez le quiz pour peut être découvir de nouveaux articles !</p>
  <button (click)="restart()" class="button_secondary2">Recommencer</button>
</div>