/* You can add global styles to this file, and also import other style files */
@import "./app/sharedStyles/reset.scss";
@import "./app/sharedStyles/buttons.scss";
@import "./app/sharedStyles/colors.scss";

@font-face {
    font-family: rimouski;
    src: url(assets/fonts/rimouskisb.ttf) format("opentype");
  }


/* Font-size */
$h1: 90px;
$h2: 56px;
$h3: 44.8px;
$h4: 30px;

html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: ff-tisa-sans-web-pro, sans-serif;;
}

h1 {
  font-size: 90px;  
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 44.8px;
}

h4 {
    font-size: 30px;
}

section {
    margin-top: 10% ;
}
//TODO ADD RESPONSIVE TITLE


.button_primary {
    @include button($Primary, $PrimaryDark, $PrimaryDarker)
}

.button_secondary1 {
    @include button($Secondary1, $Secondary1Dark, $Secondary1Darker)
}

.button_secondary2 {
    @include button($Secondary2, $Secondary2Dark, $Secondary2Darker)
}

.separator {
    width: 299px;
    height: 3px;
    background-color: $Primary;
    margin: 28px 0;
}


